.services_list_display{
        display: flex;
        flex-direction: column;
}
.button_menu{
        display: flex;
        width: fit-content;
        margin: auto;
        text-transform: uppercase;
    
        color: var(--color-white);
        text-decoration: none;
        font-family: 'Outfit', sans-serif;
        font-size: 1.02rem;
        border-radius: 980px;
        padding: 2rem 2.5rem;
        background: var(--clr-06);
        text-align: center;
        cursor: pointer;
        border: var(--border-card);
        margin: 1.3rem auto 0;
}
.ListPrices:not(:first-child){
        /* padding-left: 2rem; */
}
.ListPrices{
        display: flex;
        scroll-snap-align: start;
        flex: 1 0 18rem;
        flex-direction: column;
        height: auto;
        padding: 0.8rem;
        border-radius: 15px;
        background-color: var(--clr-01);
        /* border: 1px solid rgba(133, 133, 133, 0.1); */
        margin-left: 1rem;
}
.ListPrices h1{
        font-family: 'Outfit', sans-serif;
        font-size: clamp(1rem, 0.8680rem + 0.4800vw, 1.15rem);
        /* font-style: italic; */
        line-height: 1;
        text-align: center;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.9);
        margin: 0 0 0.8rem 0;
}
.ListPrices h3{
        color: rgba(255, 255, 255, 0.9);
        font-family: 'Outfit', sans-serif;
        font-size: clamp(1rem, 0.8680rem + 0.4800vw, 1.15rem);
        font-weight: 200;
        line-height: 1;
        padding: 0.35rem 0 0.35rem 1rem;
        margin: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: 300;
        letter-spacing: 0px;
        text-transform: none;
        background-color: rgba(174, 174, 174, 0.07);
}
.ListPrices p{
        color: rgba(255, 255, 255, 0.9);
        font-size: clamp(1rem, 0.8680rem + 0.4800vw, 1.1rem);
        font-style: italic !important;
        font-weight: 100;
        background-color: rgba(174, 174, 174, 0.07);
        line-height: 1;
        padding: 0.35rem 0 0.35rem 1rem;
        margin: 0 0 1rem 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        white-space: pre-line;
}
.line{
        margin: 0.7rem 1rem 0 0;
        height: 1.5px;
        width: 6rem;
        background-color: rgba(255, 255, 255, 0.8);
        align-self: center;
}